html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 100%;

}




button{
width: 15rem;
height: 15rem;


}

canvas {

  display: block;
}

#WIP{
position:absolute;
top:20rem;
font-size: 10rem;
left: 10rem;
}

#soundclouddis{

position:absolute;
top:15rem;
left: 45.5rem;
}
#spotifydis{
  position: absolute;
  top:15rem;
  left:16.5rem;
}

#artistpick{
position: absolute;
left:70rem;
top:15rem;
}

#discography{
position:relative;
left:10rem;

}

#Xayre{
position: absolute;
left: 37rem;
top: -31rem;
font-size: 100px;
}

#spof{
position:absolute;
top:18rem;
left:20rem;


}

#soundcl{
position:absolute;
top:18rem;
left:50rem;


}

#listen{
position: absolute;
top: 30rem;
left:18rem;

}

#listen:hover{
  transition: 0.5s;
  color: #ff0000;

}

#lawst{
position: absolute;
top:15rem;
left:15rem;
font-size:60px;
font-weight: 700;
font-family:'Open Sans', sans-serif;
}


#latest{
position:absolute;
color: white;
top:12rem;
left: 15rem;


}



#lost{
position:absolute;
left: 20rem;
top: 15rem;
}


#intro{
  position:absolute;
  left: 35rem;
  top: 15rem;
  }


#cloud{
  position:absolute;
  left:50rem;
  top: 15rem;
  }

#processing{
position:absolute;
top:100rem;



}


#aboutme{
position:absolute;
top:14.5rem;
left:18rem;
color:white;
}
#aboutme:hover{
  font-size: 25px;
  transition: 0.5s;
  color: #ffffff;

  text-shadow: 0 0 10px #ffffff;
}


#Portfolio{
position:absolute;
top:2.5rem;
left:80rem;
z-index:2;

}
#Portfolio:hover{
  transition: 0.5s;
  color: #ffffff;
  border: 0 none #ccc;
border-bottom: white;
  border-style: solid;
  border-radius: 0;
  


}
#Portfolio:hover a:after{
  transition: 0.5s;
  color: #ffffff;
  border: 0 none #ccc;
border-bottom: white;
  border-style: solid;
  border-radius: 0;
  
}
#Portfolio2:hover{
  transition: 0.5s;
  color: #ffffff;
  border: 0 none #ccc;
border-bottom: white;
  border-style: solid;
  border-radius: 0;
  
}


#Music{

  position:absolute;
  top: 2.5rem;
  left:60rem;
  display: block;

/*border-radius: 50%;

  color: #666;
  

  transition: .5s; */
  z-index:2;
      } 


#Music:hover{
  transition: 0.5s;
  color: #ffffff;
  border: 0 none #ccc;
border-bottom: white;
  border-style: solid;
  border-radius: 0;

}      
#Music2:hover{
  transition: 0.5s;
  color: #ffffff;
  border: 0 none #ccc;
border-bottom: white;
  border-style: solid;
  border-radius: 0;

}     

#abt{
position:absolute;
top:6rem;

}

#Home{

  position:absolute;
  top:2.5rem;
  left:50rem;
  z-index:2;
      }
#Home:hover{
  transition: 0.5s;
  color: #ffffff;
  border: 0 none #ccc;
border-bottom: white;
  border-style: solid;
  border-radius: 0;

}
#Home2:hover{
  transition: 0.5s;
  color: #ffffff;
  border: 0 none #ccc;
border-bottom: white;
  border-style: solid;
  border-radius: 0;

}

  #About{
  position: absolute;
  color: white;
  left: 70rem;
  top: 2.5rem;
  z-index:2;
        }

       #About:hover{
        transition: 0.5s;
        color: #ffffff;
        border: 0 none #ccc;
      border-bottom: white;
        border-style: solid;
        border-radius: 0;

       } 
       #About2:hover{
      transition: 0.5s;
        color: #ffffff;
        border: 0 none #ccc;
      border-bottom: white;
        border-style: solid;
        border-radius: 0;

       } 
          
#musicShowcase{

position:absolute;
top:0rem;


z-index:1;

}      

#Music2{

  position:absolute;
  top:2.5rem;
  left:70rem;
  z-index:2;
      }   
      #Portfolio2{

        position:absolute;
        top:2.5rem;
        left:80rem;
        z-index:2;
            }   
#Home2{

  position:absolute;
  top:2.5rem;
  left:50rem;
  z-index:2;
      }

#homed{
position:absolute;
left:43rem;
top:25rem;



z-index:2;



}

#homed:hover{
  top:24.5rem;
  transition: 0.5s;
  color: #ffffff;
  border: 0 none #ccc;
border-bottom: white;
  border-style: solid;
  border-radius: 0;
}


#logo{
position:absolute;
top:-1rem;
left: 3rem;


}

  #About2{
  position: absolute;
  color: white;
  left: 60rem;
  top: 2.5rem;
  z-index:2;
        }


body {
  
  background: rgb(119, 119, 119);
  /*
  
  background-image: url(image.png);
  background-position: right middle, left;
  background-repeat: no-repeat, repeat;
  */
  vertical-align: text-bottom;

}

p1 {
position: absolute;
left: 35rem;
top: 35rem;
}

.bodyme{
  position: absolute;
color: white;

font-size: 4rem;
top: 20rem;
left: 20rem;
}

.youtube{

  position: absolute;

  left: 1.4rem;
top:45.5rem;

}

#links{
position:absolute;




z-index:1 ;

}


.greece{
position: absolute;
left: 10rem;
top: -32rem;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

h1 {
  position: absolute;

  font-size: 6rem;
top: -35rem;
left: 35.5rem;
}

#all{
position:absolute;
left: 4rem

}

.greece{

position: absolute;
top: 10rem;
left: 45rem;

}

a:visited{
text-decoration: none;
color: white;


}

.twitter{

position: absolute;
left: 60rem;
top:47rem;
}

.soundcloud{
  position: absolute;

  left: 75rem;
top:47rem;
} 



.new{

  position: absolute;
  left: 17rem;
  top:47rem;
}

.itch{
  position: absolute;
left: 43rem;
top: 47rem;

}

.spotify{
position: absolute;
left: 30rem;
top: 46.6rem;



}
#tabcontent2p{
  position:absolute;
  left: -30rem;
  top: 20px;
  
  
  }

  .tabcontent{
position:absolute;
left: -30rem;
top:-30rem;


}

.tabcontent2{
  position:absolute;
  left: -30rem;
  top:-28rem;
  
  
  }
  

  .tabcontent3{
    position:absolute;
    left: -30rem;
    top:-26rem;
    
    
    }


.portfolio {
position: absolute;
left: 33rem;
top: 50rem;
color: white;
font-size: 10rem;
}

.note {
position:absolute;
color:aliceblue;
top:12rem;

left:29rem;

}

.project3{

  position:absolute;

  top:50rem;
  left:0rem;
  



}

.project2{

  position:absolute;

  top:20rem;
  left:50rem;
  
  
  
  }



.project1{
position:absolute;

top:20rem;
left:20rem;



}


a {
  text-decoration: none;
  color: white;
  
  



}


p1{

color: white;

}
p {
position:absolute;


}

li {
position: absolute;
top: 22rem;
left: 18rem;


}


button {

position: absolute;
top: 350px;
left: 285px;

}


